body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.header {
  background: #ffcc00;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #111;
}

.search {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.cart-btn {
  border: none;
  background: white;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 18px;
}

.home {
  text-align: center;
  padding: 40px 20px;
}

.home h2 {
  margin-bottom: 10px;
}
.categories {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 20px 10px;
}

.category {
  min-width: 110px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}