body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.header {
  background: #ffcc00;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #111;
}

.search {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.cart-btn {
  border: none;
  background: white;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 18px;
}

.home {
  text-align: center;
  padding: 40px 20px;
}

.home h2 {
  margin-bottom: 10px;
}
.categories {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 20px 10px;
}

.category {
  min-width: 110px;
  background: white;
  padding: 12px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.banner {
  margin: 20px 10px;
  background: linear-gradient(135deg, #ffcc00, #ff9800);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.banner h2 {
  margin: 0;
}

.banner p {
  margin-top: 8px;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 10px;
}

.product-card {
  background: white;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-3px);
}

.product-card h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.product-card button {
  border: none;
  background: #ffcc00;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
}
.product-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav button {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: bold;
}
.wish-btn {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 8px;
}
.sale-badge {
  background: red;
  color: white;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}
.product-card button {
  border: none;
  background: #ffcc00;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  margin-top: 8px;
}.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  width: 90%;
  max-width: 350px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.popup-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup-content button {
  border: none;
  background: #ffcc00;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}